@charset "UTF-8";

body {
    background-color: rgb(26, 25, 25);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h1 {
    text-align: center;
    font-size: 2.5em;
}

p {
    font-size: 1.5em;
    margin: 5px;
    padding: 10px;
}

.div_form {
    background-color: rgb(53, 52, 52);
    max-width: 490px;
    border-radius: 20px;    
    transition: 0.3s;
}

.div_form:hover {
    background-color: rgb(53, 52, 52);
    transform: scale(1.05);
}

.btn-enviar {
    background-color: #2e7d32;   /* verde elegante */
    color: white;
    border: none;
    padding: 10px 25px;
    margin: 10px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-enviar:hover {
    background-color: #1b5e20;
    transform: scale(1.05);
}

.btn-enviar:active {
    transform: scale(0.98);
}