@charset "utf-8";

body {
    background-color: rgb(72, 72, 226);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 3em;
    margin: 10px;
    padding: 5px;
    text-align: center;
}

p {
    margin: 0px;
    padding: 0px;
    text-align: center;
}