@charset "UTF-8";

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    background-color: black;
    color: white;
}

.btncssEditar {
    background-color: white;
    cursor: pointer;
    width: 80px;
    height: 30px;
}

.btncssEditar:hover {
    background-color: gray;
    color: white;
}

.txtcssArray:hover {
    background-color: gray;
    color: white;
}